
.icon-mail:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */