[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-login = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
sqlalchemy = "*"
pytesseract = "*"
pillow = "*"
numpy = "*"
wtforms-sqlalchemy = "*"
wtforms-components = "*"
colour = "*"
opencv-python = "*"
flask-admin = "*"
psycopg2 = "*"
pyjwt = "*"
flask-mail = "*"
requests = "*"
marshmallow = "*"
flask-httpauth = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
