body {
    background-color: #fff;
    background-image: url('../bg_desk.jpg');
    background-size: 100% 125%;
    font-family: sans-serif;
    text-align: left;
}
#container_form {
    width: 350px;
    height: auto;
    background-color: #eee;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 50px;
    padding-bottom: 30px;
    border: 1px solid #666;
    box-sizing: content-box;
    box-shadow: 3px 3px 15px 5px rgba(52, 52, 52, 0.9);
    border-radius: 10px;
}
input#remember_me {
    color: #646464;
    margin-top: 20px;
    margin-left: 0px;
}
.input-group {
    padding: 5px;
    margin-top: 15px;
}
input[type=submit] {
    width: 350px;
    background-color: #333;
    font-size: 20px;
    color: #fff;
    padding: 15px 10px;
    margin-top: 45px;
    border: none;
    border-radius: 5px;
    letter-spacing: 2px;
}
input[type=submit]:hover {
    background-color: #007bff;
    cursor: pointer;
}
header {
    text-align: center;
}
header > h1 {
    margin-top: 5px;
}
header > p {
    font-size: 14px;
    color: #646464;
    margin-top: 25px;
}
::-webkit-input-placeholder {
   font-size: 16px!important;
}
:-moz-placeholder { /* Firefox 18- */
      font-size: 16px!important;
}
::-moz-placeholder {  /* Firefox 19+ */
      font-size: 16px!important;
}
