<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../../static/css/style.css">
        <!-- href="{{ url_for('static', filename='css/style.css') }}" -->
    </head>
    <body>
        <header>
            <h1>Log in to your <span style="color: lightskyblue;">e</span><sup>account</sup></h1>
            <p>Enter your username and password to get started.</p>
        </header>
        <div id="container_form">
            <form class="" action="" method="post">
                <input type="text" name="username" placeholder="login">
                <input type="password" name="password"placeholder="password">
                <input type="submit" name="submit" value="Login">
            </form>
        </div>
    </body>
</html>
