<!-- reset_password.html -->
{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<aside></aside>
<div class="bootstrap-iso">
  <div class="container">
    {% include "alert.html" %}
    <main>
      <div class="authBox">
        <header class="mx-auto">
          <h1>Reset Password</h1>
          <p>Enter your email address to continue.</p>
        </header>
        <form class="p-3" action="" method="post">
          {{ form.hidden_tag() }}
          <div class="authInput">
            {{ form.password(required=True) }}
            {{ form.password.label }}
            {% for error in form.password.errors %}
            <span style="color: red; font-size: 12px">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="authInput">
            {{ form.confirm_pswd(required=True) }}
            {{ form.confirm_pswd.label }}
            {% for error in form.confirm_pswd.errors %}
            <span style="color: red; font-size: 12px">[{{ error }}]</span>
            {% endfor %}
          </div>
          {{ form.submit(class="btn btn-block btn-outline-secondary mt-4 mb-3") }}
        </form>
      </div>
    </main>
  </div>
</div>
{% endblock %}
<!-- End reset_password.html -->
