<!-- reset_password_request.html -->
{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<aside></aside>
<div class="bootstrap-iso">
  <div class="container">
    {% include "alert.html" %}
    <main>
      <div class="authBox">
        <header class="mx-auto">
          <h1>Reset Password</h1>
          <p>Enter your email address to continue.</p>
        </header>
        <form class="p-3" action="" method="post">
          {{ form.hidden_tag() }}
          <div class="authInput">
          {{ form.email(type='text', required=True) }}
          {{ form.email.label }}
          </div>
          {{ form.submit(class="btn btn-block btn-outline-secondary mt-4 mb-3") }}
        </form>
      </div>
    </main>
  </div>
</div>
{% endblock %}
<!-- End reset_password_request.html -->
