{% extends "expenses.html" %}

{% block app_content %}
<main role="main" class="col-md-10 ml-sm-auto px-4">
    <header class="mt-4 mb-5 text-center">
        <h2>Add new expense</h2>
    </header>
    <!-- Form for adding new Expense -->
    <form class="col-lg-7 col-md-10 mx-auto" method="post"
        action="{% if expense_id %}{{ url_for('main.edit_expense', expense_id=expense_id) }}{% endif %}">
        {{ form.hidden_tag() }}

        <div class="row mb-3">
            <div class="col-md-6">
            {{ form.wallet(class="form-control") }}
            </div>
            <div class="col-md-6">
            {{ form.subwallet(class="form-control") }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
            {{ form.product(class="form-control", placeholder="Product") }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4">
            {{ form.quantity(class="form-control", placeholder="Qty/Kg",
                            type="number", step="0.001") }}
            </div>
            <div class="col">
                <div class="input-group">
                    {{ form.price(class="form-control", placeholder="Price",
                                type="number", step="0.01") }}
                    <div class="input-group-append">
                        {{ form.currency(class="input-group-text", style="width: 75px;") }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-8">
            {{ form.category(class="form-control", placeholder="category") }}
            </div>
            <div class="col">
            {{ form.freq(class="form-control") }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-7">
            {{ form.expenseDate(class="form-control", placeholder="yyyy/mm/dd", type="date") }}
            </div>
            <!-- Button Text for update or create Expense: -->
            <div class="col-5">
            {% if expense_id %}
            {{ form.submit(class="btn btn-success btn-block", value='Update') }}
            {% else %}
            {{ form.submit(class="btn btn-success btn-block") }}
            {% endif %}
            </div>
            <!-- End Button -->
        </div>
        <div class="row">
            <div class="col">
                <a href="{{ url_for('main.spendings') }}" class="btn btn-secondary" name="button">Back</a>
            </div>
        </div>
        <!-- Errors for debug purpose -->
        <div class="row">
            {% for error in form.errors %}
            <span style="color: red; font-size: 12px">[{{ error }}]</span>
            {% endfor %}<br/>
            {% for error in form.expenseDate.errors %}
            <span style="color: red; font-size: 12px">[{{ error }}]</span>
            {% endfor %}<br/>
            {% for error in form.product.errors %}
            <span style="color: red; font-size: 12px">[{{ error }}]</span>
            {% endfor %}<br/>
            {% for error in form.category.errors %}
            <span style="color: red; font-size: 12px">[{{ error }}]</span>
            {% endfor %}<br/>
            {% for error in form.freq.errors %}
            <span style="color: red; font-size: 12px">[{{ error }}]</span>
            {% endfor %}<br/>
            {% for error in form.quantity.errors %}
            <span style="color: red; font-size: 12px">[{{ error }}]</span>
            {% endfor %}<br/>
            {% for error in form.price.errors %}
            <span style="color: red; font-size: 12px">[{{ error }}]</span>
            {% endfor %}<br/>
            {% for error in form.currency.errors %}
            <span style="color: red; font-size: 12px">[{{ error }}]</span>
            {% endfor %}
        </div>
        <!-- End Errors -->
    </form>
</main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">

    const walletChoices = document.getElementById('wallet');
    const subwalletChoices = document.getElementById('subwallet');

    walletChoices.addEventListener('change', listSubwallets);

    function listSubwallets(e) {
        // Get list of Subwallets for chosen Wallet:
        fetch(`/transfer/${e.target.value}`)
        .then(res => res.json())
        .then(data => {
            var subwalletOptions = '';
            for(let subwallet of data.subwallets) {
                subwalletOptions += `
                    <option value="${subwallet.id}">${subwallet.name}</option>
                `;
            }
            subwalletChoices.innerHTML = subwalletOptions;
        });
    };

</script>

{% endblock %}
