{% extends "base.html" %}

{% block aside %}
<aside class="col-2 d-none d-md-block bg-dark sidebar">
<!-- hidden bar with options regarding Expenses: Add_expense, Show, Charts -->
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link"
                href="#">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link"
                href="{{ url_for('main.spendings') }}">Expenses</a></li>
            <li class="nav-item"><a class="nav-link"
                href="{{ url_for('main.spendings') }}">Incomes</a></li>
            <li class="nav-item"><a class="nav-link active"
                href="{{ url_for('main.expenses_add') }}">Add Expense</a></li>
            <li class="nav-item"><a class="nav-link"
                href="{{ url_for('main.upload') }}">Add Receipt</a></li>
            <li class="nav-item"><a class="nav-link"
                href="#">Reports</a></li>
        </ul>
    </div>
</aside>
{% endblock %}

{% block app_content %}{% endblock %}
