<!-- new_subwallet.html -->
<div class="col-12 tab-pane fade mt-5 p-3" id="new_subwallet"
    style="border: 2px solid #ddd; border-radius: 5px;">
  <h4>New Subwallet</h4>
  <div class="row justify-content-between">
    <form class="col-md-6 col-lg-4 pt-3" action="{{ url_for('main.new_subwallet') }}"
        method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="col">
        <input class="form-control" name="name" id="subwallet_name"
            type="text" placeholder="Give it name..." value="" required/>
      </div>
      <div class="col">
        <input type="submit" class="btn btn-success btn-block mt-3" value="Create"
            id="submit_subwallet"/>
      </div>
    </form>
    <div class="card bg-secondary mx-4 my-3" style="max-width: 15rem;">
      <div class="card-header text-center">Created Subwallets:</div>
      <div class="card-body">
        <p class="card-text">
          {% for subwallet in current_user.subwallets %}
          <span class="badge badge-pill badge-dark">{{subwallet.name}}</span>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    {% for error in form.errors %}
    <span style="color: red; font-size: 12px">[{{error}}]</span>
    {% endfor %}<br/>
  </div>
</div>
<!-- End new_subwallet -->
