<!-- new_wallet.html -->
<div class="col-12 tab-pane fade mt-5 p-3" id="new_wallet"
    style="border: 2px solid #ddd; border-radius: 5px;">
  <h4>New Wallet</h4>
  <form class="col-md-6 col-lg-4 pt-3" action="{{ url_for('main.new_wallet') }}"
      method="post">
    {{ form.hidden_tag() }}
    <div class="form-row">
      <div class="col-auto">
        <input type="hidden" name="color" id="color-picker-1" value="">
          {{ form.wallet_color(type="hidden", id="new_wallet_color") }}
      </div>
      <div class="col">
        {{ form.wallet_name(class="form-control", placeholder="Give it name...") }}
      </div>
    </div>
    <div class="form-row mt-2">
      <div class="col-12">
        {{ form.currency(class="form-control") }}
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        {{ form.submit(class="btn btn-success btn-block mt-3", id="submit_wallet") }}
      </div>
    </div>
  </form>
  <div class="row">
    {% for error in form.errors %}
    <span style="color: red; font-size: 12px">[{{error}}]</span>
    {% endfor %}<br/>
  </div>
</div>
<!-- End new_wallet.html -->
