{% extends "tools.html" %}

{% block app_content %}
<div class="col-10 ml-auto">
    <div class="row mb-3">
        <div class="col text-center">
            <header>
                <h2 id='exchange_rate_header'>Currency Exchange Rate</h2>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <main>
                <div class="card border-light mb-3">
                    <div class="card-header h2" id="exRateBase"></div>
                    <div class="card-body">
                        <div class="row d-flex justify-content-between" id="exRate"></div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    const exRate = document.querySelector('#exRate');
    const exRateBase = document.getElementById('exRateBase');
    // IIFE (Immediately Invoke Function Expression):
    (function(){
        fetch('https://openexchangerates.org/api/latest.json?app_id={{ config['EX_RATE_API'] }}')
        .then(res => res.json())
        .then(data => {
            exRateBase.innerText = data.base

            let exRateDiv = '';
            for(let key in data.rates){
                exRateDiv += `
                    <div class="col-4 col-sm-2 card text-white bg-dark m-2">
                        <div class="card-header m-auto">${key}</div>
                        <div class="card-title m-auto">
                            ${data.rates[key].toFixed(4)}
                            <i class="fa fa-caret-up text-success"></i>
                        </div>
                    </div>
                `;
            };
            exRate.innerHTML = exRateDiv;
            console.log(data);
            console.log('New Interval');
        })})();
</script>
{% endblock %}
