{% extends "tools.html" %}

{% block app_content %}
<main role="main" class="col-md-10 ml-sm-auto px-4">
    <header class="text-center">
        <h2>Currency :</h2>
    </header>
    <div class="col-lg-5 mr-auto">
        <table class="table mt-4" style="min-width: 340px;">
            <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Currency</th>
                  <th scope="col">Name</th>
                  <th scope="col">...</th>
                </tr>
            </thead>
            <tbody>
                {% set default_id = current_user.currency_default_choice %}
                {% for curr in currs %}
                <tr id="currency-{{ curr.id }}" class="{% if default_id == curr.id %}curr_default{% endif %}">
                    <th scope="row">{{ loop.index }}
                        <span class="radio">
                            <input type="radio" name="curr_default"
                                {% if default_id == curr.id %}checked{% endif %}/>
                        </span>
                        </th>
                    <td>{{ curr.abbr }}</td>
                    <td>{{ curr.name }}</td>
                    <td>
                        <button id="{{ curr.id }}" onClick="get_currID(this.id)"
                                type="button" class="btn p-0 w-auto"
                                data-toggle="modal" data-target="#deleteCurrency"
                                {% if default_id == curr.id %} disabled{% endif %}>
                            <span class="fa fa-trash text-danger" style="pointer-events: none"></span>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container col-lg-5">
        <header class="mb-3 w-md-75">
            <h1 class="h6 text-center">Add new currency :</h1>
            <hr/>
        </header>
        <form class="mx-auto" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="form-group col-6">
                    {{ form.name(id="inputName", placeholder="name",
                                    class="form-control") }}
                    <div class="w-100 mb-2"></div>
                        {{ form.abbr(id="inputAbbr", placeholder="abbreviation",
                                    class="form-control") }}
                </div>
                <div class="form-group col-6 align-items-center">
                    <button class="btn btn-primary btn-md h-100" type="submit" name="button">
                        OK
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>
<!-- Modal -->
<div class="modal fade" id="deleteCurrency" tabindex="-1" role="dialog" aria-labelledby="deleteCurrencyLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCurrencyLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delete this currency?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
        <form class="" action="{{ url_for('main.delete_currency') }}" method="post">
            <input id='confirm' name='id' type="hidden"/>
            <input type="submit" class="btn btn-danger" value="Delete"/>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- ----- -->
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">

    const currencyTable = document.querySelector('table tbody');

    currencyTable.addEventListener('click', currencySelect);


    function getWalletID(curr_id) {
        document.getElementById('confirm').value = curr_id;
    };

    function handleErrors(res) {
        if (!res.ok) throw new Error(res.error);
        return res;
    };

    function currencySelect(e) {
        console.log(e.target);
        if (e.target.type !== 'button') {
            var currencyClicked = e.target.closest('tr');

            if (!currencyClicked.classList.contains('curr_default')) {

                var currencyID = currencyClicked.id.split('-')[1];
                var rows = currencyTable.querySelectorAll('tr');
                var buttonAll = currencyTable.querySelectorAll('button');
                rows.forEach(function(row){
                    row.classList.remove('curr_default');
                });
                buttonAll.forEach(function(btn){
                    btn.disabled = false;
                })
                currencyClicked.classList.add('curr_default');
                currencyClicked.querySelector('[type="radio"]').checked = true;
                currencyClicked.querySelector('td button').disabled = true;

                fetch("{{ url_for('main.default_currency') }}", {
                    method: 'POST',
                    headers: {
                        'Content-type': 'application/x-www-form-urlencoded;charset=UTF-8'
                    },
                    body: 'curr_id=' + currencyID
                })
                .then(res => res.text())
                .then(data => window.location = data)
                .catch(err => {
                    const startContainer = document.querySelector('.container .row');
                    const divAlert = createElement('div')

                    divAlert.className = 'col-8 m-auto alert alert-danger';
                    divAlert.textContent = err;
                    startContainer.insertAdjacentElement('afterbegin', divAlert);
                    clearError();
                });
            }
        }
    };

    // $('.table tbody tr').click(function(event) {
    //     if (event.target.type !== 'button') {
    //         $('tr').removeClass("curr_default");
    //         $('button').prop('disabled', false);
    //         event.currentTarget.querySelector('td button').disabled = true;
    //         $(this).addClass("curr_default");
    //         console.log(event.currentTarget.id.split('-')[1]);
    //         $.post("{{ url_for('main.default_currency') }}", {
    //             curr_id: event.currentTarget.id.split('-')[1]
    //         }).done(function(response_url){
    //             window.location = response_url;
    //         });
    //     }
    // });

</script>
{% endblock %}
