<!-- transactions_filters.html -->
<form class="form-row justify-content-between" id="filters_form">
  <input type="hidden" name="per_page" value="{{ request.args.get('per_page') or '' }}"/>
  <div class="form-group d-flex flex-column justify-content-between col-sm-3">
  {{ form.amount_min(class="form-control form-control-sm", placeholder="Amount_min") }}
  {{ form.amount_max(class="form-control form-control-sm", placeholder="Amount_max") }}
  </div>
  <div class="form-group d-flex flex-column justify-content-between">
  {{ form.date_start(class="form-control form-control-sm") }}
  {{ form.date_end(class="form-control form-control-sm") }}
  </div>
  <div class="form-group">
  {{ form.currencies(class="form-control form-control-sm", size=3) }}
  </div>
  <div class="form-group">
  {{ form.wallets(class="form-control form-control-sm", size=3) }}
  </div>
  <div class="form-group">
  {{ form.subwallets(class="form-control form-control-sm", size=3) }}
  </div>
  <div class="form-group">
  {{ form.categories(class="form-control form-control-sm", size=3) }}
  </div>
  <div class="form-group">
  {{ form.submit(class="btn btn-info h-100") }}
  </div>
</form>
<!-- End transactions_filters.html -->
