{% extends "cashflow.html" %}

{% block app_content %}
<main role="main" class="col-md-10 ml-sm-auto px-4">
    <header class="mt-4 mb-5 text-center">
        <h2 class="h3">Upload receipt to add spendings</h2>
    </header>
    <form class="form-inline" action="{{ url_for('main.receipt') }}"
        enctype="multipart/form-data" method="post">
        <div class="custom-file">
            {{ form.customFile(class='custom-file-input') }}
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        {{ form.submit(class="btn btn-outline-primary col-12 mt-4 ml-auto") }}
    </form>
</main>
{% endblock %}

Note that you also have to include some jQuery code
if you want the name of the file to appear when you select a specific file:

Example
<form>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile">
    <label class="custom-file-label" for="customFile">Choose file</label>
  </div>
</form>

<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
