{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css"/>
{% endblock %}

{% block aside %}
<aside class="col-md-2 d-none d-md-block bg-dark sidebar">
<!-- hidden bar with options regarding Expenses: Add_expense, Show, Charts -->
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link"
                href="#">Dashboard</a>
            </li>
            <li class="nav-item"><a class="nav-link"
                href="#">Wallets</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Finance</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">New Transaction</a>
                    <a class="dropdown-item" href="#">New Transfer</a>
                </div>
            </li>
        </ul>
    </div>
</aside>
{% endblock %}

{% block app_content %}
<header class="col-md-10 ml-md-auto pt-3 text-center">
    <h1>Wallet</h1>
</header>
<main class="col-md-10 ml-md-auto">
<div class="col-12">
    <ul class="nav nav-tabs">
        {% for wallet in wallets %}
        <li class="nav-item" id="nav-tab" role="tablist">
            <a class="nav-link nav_wallet" id="wallet-{{ wallet.id}}-tab"
                href="#wallet{{ wallet.id }}" data-toggle="tab"
                style="color: {{ wallet.color }}; border-color: {{ wallet.color }};">
            {{ wallet.name }}
            </a>
        </li>
        {% endfor %}
        <li class="nav-item">
            <a class="nav-link nav_wallet active" id="new_wallet-tab" href="#new_wallet" data-toggle="tab"
                style="font-style: italic; color: #ccc;">
            New wallet<i class="fa fa-plus-circle fa-1x ml-2"></i>
            </a>
        </li>
    </ul>
</div>
<!-- Tabs content (wallets)-->
<div class="tab-content px-3">
    <div class="btn-group mt-3">
        <button class="btn btn-sm btn-outline-secondary btn-block mt-2" id="new_subwallet"
                data-toggle="modal" data-target="#subwallet_form">
            Add subwallet
        </button>
        <button class="btn btn-sm btn-outline-info btn-block mt-2 ml-2" id="transfer_btn">
            Transfer
        </button>
    </div>
    <!-- Transfer form -->
    <div class="border border-3 border-dark rounded my-4 px-2 py-3"
            style="display: none;" id="transfer_div">
        <form class="form-row align-items-center"
                action="{{ url_for('main.transfer') }}" method="post">
            <div class="col-3">
                <div class="form-group form-group-sm row ml-0">
                    <label for="wallet_id1" class="col-form-label mr-2">Wallet</label>
                    <select name="wallet_id1" class="form-control col-6" id="wallet_id1">
                    {% for wallet in wallets %}
                    <option value="{{ wallet.id }}">{{ wallet.name }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group form-group-sm row ml-0">
                    <label for="wallet_id2" class="col-form-label mr-2">Wallet</label>
                    <select name="wallet_id2" class="form-control col-6" id="wallet_id2">
                    {% for wallet in wallets %}
                    <option value="{{ wallet.id }}">{{ wallet.name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group row ml-0">
                    <input class="form-control col-11" type="number" name="sent_amount"
                            placeholder="Funds sent"/>
                </div>
                <div class="form-group row ml-0">
                    <input class="form-control col-11" type="text" name="sent_amount"
                            value="USD" disabled/>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group row ml-0">
                    <input class="form-control col-11" type="number" name="sent_amount"
                            placeholder="Funds received"/>
                </div>
                <div class="form-group row ml-0">
                    <input class="form-control col-11" type="text" name="sent_amount"
                            value="USD" disabled/>
                </div>
            </div>
            <div class="col-3 ml-5">
                <div class="form-group form-group-sm row ml-0">
                    <label for="wallet" class="col-form-label mr-2">Wallet</label>
                    <select name="wallet_id1" class="form-control col-6" id="wallet_id1">
                    {% for wallet in wallets %}
                    <option value="{{ wallet.id }}">{{ wallet.name }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group form-group-sm row ml-0">
                    <label for="wallet" class="col-form-label mr-2">Wallet</label>
                    <select name="wallet_id1" class="form-control col-6" id="wallet_id1">
                    {% for wallet in wallets %}
                    <option value="{{ wallet.id }}">{{ wallet.name }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-1">
                <div class="form-group form-group-sm ml-0">
                    <button type="submit" class="btn btn-outline-success" id="transfer_submit">
                        Transfer
                    </button>
                    <button type="button" class="btn btn-outline-secondary" id="transfer_back">
                        Back
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- End Transfer Form -->
    {% for wallet in wallets %}
    <div class="col-md-12 tab-pane mt-3 p-3 h-100" id="wallet{{ wallet.id }}"
        style="border: 2px solid {{ wallet.color }}; border-radius: 5px;">
    <h2 style="color: {{ wallet.color }};">{{ wallet.name }}</h2>
    <div class="col-12 mb-4" style="height: 5px; background-image: linear-gradient(270deg, #fff, {{wallet.color}});"></div>
    <div class="col-6">
        <div class="col-12 mb-3">
            <p class='wallet'>Currency: USD</p>
            <p class='wallet'>Balance: {{ '{0:,.2f}'.format(1000) }}</p>
        </div>
        {% for subwallet in wallet.subwallets %}
        <h4 class="{%if subwallet.name == 'General'%}unlocated{%else%}subwallet{%endif%} h6">
            {{ subwallet.name }}: {{ '{0:,.2f}'.format(1000) }}
        </h4>
        {% endfor %}
    </div>
    </div>
    {% endfor %}
    <div class="col-12 tab-pane fade show active mt-3 p-3" id="new_wallet"
            style="border: 2px solid #ddd; border-radius: 5px;">
        <form class="col-md-6 col-lg-4 pt-3" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="col-auto">
                    <input type="hidden" name="color" id="color-picker-1" value="">
                    {{ form.color(type="hidden", id="wallet_color") }}
                </div>
                <div class="col">
                    {{ form.name(class="form-control") }}
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-12">
                {{ form.currency(class="form-control") }}
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-12">
                {{ form.balance(class="form-control", placeholder="Initial balance...",
                            type="number", step="0.01") }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                {{ form.submit(class="btn btn-success btn-block mt-3") }}
                </div>
            </div>
        </form>
        <div class="row">
            {% for error in form.errors %}
            <span style="color: red; font-size: 12px">[{{ error }}]</span>
            {% endfor %}<br/>
        </div>
    </div>
</div>
<!-- Modal for New Subwallet -->
<div class="modal fade" id="subwallet_form" tabindex="-1" role="dialog"
        aria-labelledby="addSubwalletLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 300px;">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="addSubwalletLabel">New subwallet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('main.add_subwallet') }}" method="post">
                    <div class="form-group">
                        <label for="wallet" class="col-form-label">Wallet</label>
                        <select name="wallet_id" class="form-control" id="wallet_id">
                        {% for wallet in wallets %}
                        <option value="{{ wallet.id }}">{{ wallet.name }}</option>
                        {% endfor %}
                        </select>
                        <input type="text" id="wallet_currency" class="form-control mt-1" value="PLN" readonly/>
                    </div>
                    <div class="form-group">
                        <label for="subwallet_field" class="col-form-label">Subwallet</label>
                        <input name="name" class="form-control" type="text" list="subwallets_fields"
                                placeholder="Create new or choose existing" id="subwallet_field"/>
                        <datalist id="subwallets_fields">
                        {% for subwallet in current_user.subwallets %}
                        <option value="{{ subwallet.name }}">
                        {% endfor %}
                        </datalist>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                        <input type="submit" class="btn btn-outline-primary"
                                value="Create" id="add_subwallet"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- --- -->
</main>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
<script type="text/javascript">
const pickr1 = new Pickr({
  el: '#color-picker-1',
  theme: 'monolith',
  default: '#303030',

  components: {
    preview: true,
    opacity: true,
    hue: true,

    interaction: {
      input: true,
      clear: true,
      save: true,
    }
  }
});
pickr1.on('save', function(){
    document.getElementById('wallet_color').value = pickr1.getSelectedColor().toHEXA().toString();
});

const transferBtn = document.getElementById('transfer_btn');
const transferDiv = document.getElementById('transfer_div');
const transferBack = document.getElementById('transfer_back');


transferBtn.addEventListener('click', () => transferDiv.style.display = 'block');
transferBack.addEventListener('click', () => transferDiv.style.display = 'none');


</script>
{% endblock %}
