<!-- wallets.html -->
{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css"/>
{% endblock %}

{% block content %}
<aside>
  <div class="container">
    <div class="sidemenu">MENU</div>
    <ul class="options">
      <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
      <li><a href="{{ url_for('main.wallets') }}">Wallets</a></li>
    </ul>
    <div style="clear: both;"></div>
  </div>
</aside>
<div class="bootstrap-iso">
  <div class="container">
  {% include "alert.html" %}
    <main>
      <header>
        <h1>Wallet Center</h1>
      </header>
      {% include "wallets_tabs.html" %}
      <div class="tab-content px-3">
        <!-- Transaction buttons -->
        <div class="btn-group mt-4">
          <button class="btn btn-sm btn-outline-success mx-2" id="income_btn">
            Income
          </button>
          <button class="btn btn-sm btn-outline-danger mx-2" id="expense_btn">
            Expense
          </button>
          <button class="btn btn-sm btn-outline-primary mx-2" id="transfer_btn">
            Transfer
        </div>
        <!-- End Transaction buttons -->
        {% include "transfer_form.html" %}
        {% include "income_form.html" %}
        {% include "expense_form.html" %}
        {% include "new_wallet.html" %}
        {% include "new_subwallet.html" %}
        {% import "wallet_content.html" as f %}
          {% for wallet in wallets %}
          {{f.wallet_content(wallet)}}
          {% endfor %}
      </div>
      {% include "modal_confirmations.html" %}
      {% include "update_wallet.html" %}
    </main>
  </div>
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}

<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
<script type="text/javascript">
// Display color picker for new Wallet:
const pickr1 = new Pickr({
  el: '#color-picker-1',
  theme: 'monolith',
  default: '#303030',

  components: {
    preview: true,
    opacity: true,
    hue: true,

    interaction: {
      input: true,
      clear: true,
      save: true,
    }
  }
});
pickr1.on('save', function(){
    document.getElementById('new_wallet_color').value = pickr1.getSelectedColor().toHEXA().toString();
});
// Display color picker for update Wallet:
const pickr2 = new Pickr({
  el: '#color-picker-2',
  theme: 'monolith',
  default: '#303030',

  components: {
    preview: true,
    opacity: true,
    hue: true,

    interaction: {
      input: true,
      clear: true,
      save: true,
    }
  }
});
pickr2.on('save', function(){
    document.getElementById('update_wallet_color').value = pickr2.getSelectedColor().toHEXA().toString();
});

// Load Wallets and Subwallets options to modal:
document.addEventListener('DOMContentLoaded', addSubwallet)
function addSubwallet() {
  fetch('{{ url_for('main.add_subwallet') }}')
  .then(res => res.text())
  .then(html => {
    document.querySelector('main').insertAdjacentHTML('beforeend', html);
  })
};

// Process delete/update of wallet:
function editWallet(element) {
    var action = element.id.split('_')[0];
    var wallet_id = element.id.split('_')[1];

    document.getElementById(`${action}_wallet_id`).value = wallet_id;
    if (action === 'update') {
      var wallet_name = element.parentElement.parentElement.innerText;
      var wallet_color = element.parentElement.parentElement.style.color;
      // Set current wallet's property:
      pickr2.setColor(wallet_color);
      document.getElementById(`${action}_wallet_name`).value = wallet_name.trim();
      document.getElementById(`${action}_wallet_color`).value = pickr2.getColor().toHEXA().toString();
    }
};


// for Transfer Form
const transferBtn = document.getElementById('transfer_btn');
const transferDiv = document.getElementById('transfer_div');
const transferBack = document.getElementById('transfer_back');
// for Income Form
const incomeBtn = document.getElementById('income_btn');
const incomeDiv = document.getElementById('income_div');
const incomeBack = document.getElementById('income_back');
// for Expense Form
const expenseBtn = document.getElementById('expense_btn');
const expenseDiv = document.getElementById('expense_div');
const expenseBack = document.getElementById('expense_back');

// for Transfer
const wallet1 = document.getElementById('wallet_id1');
const wallet2 = document.getElementById('wallet_id2');
// for Income
const wallet3 = document.getElementById('wallet_id3');
// for Expense
const wallet4 = document.getElementById('wallet_id4');

transferBtn.addEventListener('click', () => {
    transferDiv.style.display = 'block';
    incomeDiv.style.display = 'none';
    expenseDiv.style.display = 'none';
});
incomeBtn.addEventListener('click', () => {
    transferDiv.style.display = 'none';
    incomeDiv.style.display = 'block';
    expenseDiv.style.display = 'none';
});
expenseBtn.addEventListener('click', () => {
    transferDiv.style.display = 'none';
    incomeDiv.style.display = 'none';
    expenseDiv.style.display = 'block';
});
transferBack.addEventListener('click', () => transferDiv.style.display = 'none');
incomeBack.addEventListener('click', () => incomeDiv.style.display = 'none');
expenseBack.addEventListener('click', () => expenseDiv.style.display = 'none');


wallet1.addEventListener('change', updateWalletDetails);
wallet2.addEventListener('change', updateWalletDetails);
wallet3.addEventListener('change', updateWalletDetails);
wallet4.addEventListener('change', updateWalletDetails);


function updateWalletDetails(e) {
  walletDetails(e, 'sub' + e.target.id, 'currency_' + e.target.id)
};


</script>
{% endblock %}
